.App .container {
  margin-top: 30px;
  padding: 30px;
  background-color: aquamarine;
  max-width: 600px;
  border: 1px solid greenyellow;
  border-radius: 10px;
  font-size: calc(10px + 2vmin);
  color: black;
}
