.Form p {
  font-size: 16px;
  opacity: 0.7;
}

small {
  font-size: 16px;
  position: relative;
  top: -32px;
  left: -6px;
}

.weather-details-left {
  margin-left: 30px;
}

.Form .weather-details-right {
  margin-right: 10px;
}

.Form .icon-temp {
  display: flex;
}

.Form .temperature {
  font-size: 64px;
  line-height: 64px;
}
